<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="css/all.css">
    <title>Document</title>
</head>


<body>
    <div id="app" v-cloak>
        <!-- start -->
        <div class="star_container">

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

        </div>
        <!-- meteors -->
        <div class="meteors">
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
        </div>
        <div class="jumbotron">

            <img src="https://upload.cc/i1/2020/04/17/hOPf1r.png" alt="star.ong" class="logo">
            <!--   <h2> 點名簿</h2> -->
        </div>
        <div class="container bg-purple">
            <div class="search-input mb-2">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search..." v-model="keyword">


            </div>

            <table class="table table-striped table-hover ">
                <thead class="thead-dark ">
                    <tr>
                        <th scope=" col " class="">no.</th>
                        <th scope=" col " class="face"></th>
                        <th scope="col" class="click" @click="sort('name','asc')">姓名

                            <span class="icon" :class="{ 'inverse' : reverse}">
                                <i class="fas fa-angle-up" ></i>
                              </span>
                        </th>
                        <th scope="col " class="click t-large" @click="sort('age','asc')">體溫
                            <span class="icon " :class="{ 'inverse' : reverse}">
                                <i class="fas fa-angle-up" ></i>
                              </span>
                        </th>
                        <th scope="col ">出缺席</th>
                    </tr>
                </thead>
                <tbody name="fade-list">

                    <tr v-for="(item,index) in filteredRows.slice(pageStart, pageStart + countOfPage)" :key="item.id">
                        <td scope="row" class="small">{{item.index+1}}</td>
                        <td class="small"><img src="./images/girl-face.svg" alt="" srcset=""></td>
                        <td>{{item.name}}</td>
                        <td>{{item.age}}</td>
                        <!-- <td>{{item.exist}}</td> -->
                        <td><button :class="[ item.exist ? 'btn btn-lg btn-info' : 'btn btn-lg btn-danger']" @click="isExist(item)"></button></td>
                    </tr>


                </tbody>
            </table>
            <div class="pagination">
                <ul class="mt-2 pagination pagination-sm">
                    <li class="page-item " :class="{disabled :(currPage === 1)}" @click.prevent="setPage(currPage-1)"><a href="#" class="page-link"><i class="fa  fa-angle-double-right"></i></a> </li>
                    <li v-for="n in totalPage" :class="{'active':(currPage ===(n))}" @click.prevent="setPage(n)"><a href="#" class="page-link">{{n}}</a>
                        <li class="page-item" :class="{disabled :(currPage === 1)}" @click.prevent="setPage(currPage+1)"><a href="#" class="page-link"><i class="fa fa-angle-double-left"></i></a> </li>
                        <!-- <li :class="{'disabled': (currPage === 1)}" 
                        @click.prevent="setPage(currPage-1)"><a href="#">Prev</a></li>
                    <li v-for="n in totalPage" 
                    :class="{'active': (currPage === (n))}" @click.prevent="setPage(n)"><a href="#">{{n}}</a></li>
                    <li :class="{'disabled': (currPage === totalPage)}" @click.prevent="setPage(currPage+1)"><a href="#">Next</a></li> -->
                </ul>
            </div>
            <div class="nofound" v-if="filteredRows.length <= 0">
                <span>查無此人 </span>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/lodash/4/lodash.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/app.js"></script>


</html>