<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="css/all.css">
    <title>Document</title>
</head>


<body>
    <div id="app">
        <!-- start -->
        <div class="star_container">

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

            <div class="star"></div>

        </div>
        <!-- meteors -->
        <div class="meteors">
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
            <div class="meteor"></div>
        </div>
        <div class="jumbotron">

            <img src="https://upload.cc/i1/2020/04/17/hOPf1r.png" alt="star.ong" class="logo">
            <!--   <h2> 點名簿</h2> -->
        </div>
        <div class="container bg-purple">
            <div class="search-input mb-2">
                <input type="text" placeholder="Search..." v-model="keyword">
                <i class="fa fa-search"></i>

            </div>

            <table class="table table-striped">
                <thead class="thead-dark ">
                    <tr>
                        <th scope=" col ">Rollno</th>
                        <th scope="col" class="click">島民

                            <span class="icon">
                                <i class="fas fa-angle-up text-success"></i>
                              </span>
                        </th>
                        <th scope="col " class="click">體溫
                            <span class="icon ">
                                <i class="fas fa-angle-up text-success"></i>
                              </span>
                        </th>
                        <th scope="col ">Attendance</th>
                    </tr>
                </thead>
                <tbody>

                    <tr v-for="(item,index) in filterSorf" :key="item.id">
                        <th scope="row">{{item.index+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.age}}</td>
                        <td><button class="btn btn-info btn-lg"></button></td>
                    </tr>


                </tbody>
            </table>
            <div class="nofound" v-if="filterSorf.length <= 0">
                <span>No results found.</span>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

</html>
<script>
    var app = new Vue({

        el: '#app ',
        data: {
            data: [],
            exist: false,
            keyword: ''
        },
        methods: {

        },
        computed: {
            filterSorf() {
                return this.data.filter((item) => {
                    return item.name.toLowerCase().indexOf(this.keyword.toLowerCase()) !== -1;
                })
            }
        },
        created() {
            const vm = this;
            const api = "https://www.json-generator.com/api/json/get/cknklDscqG?indent=2";
            axios.get(api).then(res => {
                vm.data = res.data;
                console.log(this.data);



            })
        }




    })
</script>


</html>